:root {
    --background-color-primary: #F1F1F1;
    --text-color-heading: #2A629A;
    --text-color-body: #344C64;
}

body {
    font-size: 16px;
    font-family: Kanit, Arial, Helvetica, sans-serif;
}

header,
main,
footer {
    margin: 1rem;
    position: relative;
}

h1 {
    color: var(--text-color-heading);
    border-bottom: 1px solid #eee;
    text-shadow: 0 0 15px #777;
    text-align: center;
}

h2 {
    color: var(--text-color-body);
    margin: 0 0 1rem 0;
    border-bottom: 1px solid #bbb;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    margin: 0.25rem;
    padding: 0.35rem;
    padding-bottom: 0.50rem;
    background-color: var(--background-color-primary);
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
}

footer {
    border-top: 1px solid #555;
    font-size: 1rem;
    padding: 20px;
    text-align: center;
}