* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Noto Sans, sans-serif;
}

header {
    font-family: Cinzel Decorative, serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #4D869C;
    color: white;
}

main {
    background-color: #CDE8E5;
    padding-bottom: 1rem;
}

#contactInfo {
    background-color: #7AB2B2;
    color: white;
    font-size: 1.1rem;
    padding: .5rem;
}

#contactInfo p {
    padding: .2rem;
}

#devInfo {
    background-color: #EEF7FF;
    font-size: 0.8rem;
    padding: .5rem;
    padding-bottom: 1rem;
}

.card {
    padding: 1rem;
    background-color: #EEF7FF;
    margin: 1.5rem;
}

.card h2 {
    font-family: Kanit, serif;
    margin-bottom: 10px;
}

#spotlights {
    padding: 2rem;
    margin: 1.5rem;
    background-color: #EEF7FF;
}

#spotlights .card {
    padding: 1rem;
    margin: 0 auto;
}

#spotlights h3 {
    margin: 1rem 0;
}

.event {
    text-align: left;
    background-color: #7AB2B2;
    color: rgb(240, 240, 240);
    padding: 0.5rem;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

.event h3 {
    margin-bottom: 10px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.cta {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 15px;
    background-color: rgba(62, 208, 191, 0.6);
    border: none;
    border-radius: 5px;
    font-family: Russo One, serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
}

a {
    color: rgba(255, 255, 255, 0.878);
    text-decoration: none;
}

#hamButton {
    font-size: 2rem;
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: right;
    border: none;
}

#hamButton::before {
    content: "\2630";
}

#hamButton.open::before {
    content: "X"
}

ul.menuLinks {
    display: none;
    list-style-type: none;
}

ul.open {
    display: block;
}