@media screen and (min-width: 500px) {

    /*JOIN PAGE*/
    #main-join {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
    }

    #membership-subscription h2 {
        margin-left: 82px;
        margin-bottom: 10px;
    }

}