* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Kanit, sans-serif;
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: #DEB887;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 1rem 0;
}

img {
    border: 1px solid rgba(234, 217, 217, 1.2);
    border-radius: 5px;
    overflow: hidden;
}

nav {
    background-color: #87ADDE;
}

ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

nav .active {
    background-color: rgba(226, 217, 196, 0.7);
}

nav a:hover {
    background-color: #ECB159;
}

main {
    background-color: white;
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

main h1 {
    text-align: center;
    margin-top: 1rem;
}

main a {
    color: #4f3b78;
}

.card {
    background-color: #fffdfae7;
    margin: 1rem 0;
    border: 1px solid rgba(235, 217, 217, 1.2);
    border-radius: 15px;
    overflow: hidden;
}

.card h2 {
    background-color: #DEB887;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.1rem;
}

.card ul {
    padding: 1rem;
}

.card div {
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: #DEB887;
    text-align: center;
}